@import "../../variables.scss";

.inputField {
  display: flex;
  flex-direction: column;
  outline: none;

  & > input {
    outline: none;
    border: 0.5px solid $border-color;
    border-radius: 10px;
    padding: 10px;
  }

  &__error > input {
    border: 1px solid $error-color;
  }
}

.error {
  margin: 5px 0 0 10px !important;
  font-size: 10px;
  font-weight: bold;
  color: $error-color;
}
